@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300&family=Oooh+Baby&family=Poppins:wght@600&family=Quicksand:wght@300&family=Roboto:wght@100&family=Sedgwick+Ave&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;1,200;1,300&display=swap');

* {
    padding: 0;
    margin: 0;
  }

.inicio {
  background-color: whitesmoke;
}

body{
background-color: rgb(231, 156, 106);
}

h1 {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  font-weight: lighter;
  font-size: 30px;
  letter-spacing: 5px;
  color: black;
  margin-top: 30px;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#productos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 2em;
  column-gap: 1em;
  margin-left: 4em;
  margin-top: 1em;
}

.filtro {
  display: flex;
  flex-direction: row;
}

.filtro a{
  display: flex;
  justify-content: center;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 30px;
  border: 1px solid;
  height:30px;
  background-color: #f1d42b;
  color:black;
  font-size: 15px;
  font-family: 'Montserrat', sans-serif;
  text-decoration:none
}

.filtro a:hover{
  background-color: black;
  color: #f1d42b;
}

#carritoSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2em;
  margin-left: 18em;
  border-top: 2px black solid;
  width: 60%;
}

#carritoSection .tituloCarrito {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  font-weight: lighter;
  font-size: 25px;
  color: black;
  letter-spacing: 3px;
  margin: 20px;
}

#vaciar {
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  font-weight: lighter;
  padding: 0.4em 1em 0.4em 1em;
  background-color: transparent;
  cursor: pointer;
  border-radius: 10px;
  margin-bottom: 30px;
}

#vaciar:hover {
  transform: scale(0.98);
  background-color: black;
  color: white;
}

#carritoSection h2 {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  font-weight: lighter;
  font-size: 17px;
  color: black;
}

#carrito {
  display: flex;
  flex-direction: column;
  gap: 2em;
}


.agregar {
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  font-weight: lighter;
  padding: 0.4em 1em 0.4em 1em;
  background-color: transparent;
  cursor: pointer;
  border-radius: 10px;
  background-color: #eee091;
  color:black;
}

.agregar:hover {
  transform: scale(0.98);
  background-color: black;
  color: #eee091;
}

#carritoSection {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 2em;
  margin-left: 18em;
  border-top: 2px black solid;
  width: 60%;
}

#carritoSection .tituloCarrito {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  font-weight: lighter;
  font-size: 25px;
  color: black;
  letter-spacing: 3px;
}

#vaciar {
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  font-weight: lighter;
  padding: 0.4em 1em 0.4em 1em;
  background-color: transparent;
  cursor: pointer;
  border-radius: 10px;
  background-color: #eee091;
  color:black;
}

#vaciar:hover {
  transform: scale(0.98);
  background-color: black;
  color: #eee091;
}

#carritoSection h2 {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  font-weight: lighter;
  font-size: 17px;
  color: black;
}

#carrito {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.productoCarrito {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 7em;
  align-items: center;
}

.productoCarrito img {
  width: 8em;
  height: auto;
}

.botonBorrar {
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  font-weight: lighter;
  padding: 1px;
  background-color: transparent;
  cursor: pointer;
  border-radius: 10px;
}

.botonBorrar:hover {
  background-color: black;
  color: white;
}

.total {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  font-weight: lighter;
  font-size: 20px;
  color: black;
}

.terminarCompra {
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  font-weight: lighter;
  padding: 0.4em 1em 0.4em 1em;
  background-color: transparent;
  cursor: pointer;
  border-radius: 10px;
}

.terminarCompra:hover {
  background-color: black;
  color: white;
}



.detalleProd {
  display: flex;
  flex-direction: row;
  gap: 4em;
  align-items: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  font-weight: lighter;
  width: 1000px;
  padding: 10px;
  border: 2px black solid;
  background-color: rgb(235, 164, 117);
}

.detalleProd button {
  width: 2em;
  height: 2em;
}

.detalleProd img {
  width: 6em;
  height: auto;
}


.seguir {
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  font-weight: lighter;
  padding: 0.4em 1em 0.4em 1em;
  background-color: transparent;
  cursor: pointer;
  border: 1px black solid;
  color: black;
  border-radius: 10px;
  text-decoration: none;
  margin-left: 20px;
  background-color: #eee091;
  color:black;
}

.seguir:hover {
  background-color: black;
  color:#eee091;
}


.checkout {
  display: flex;
  flex-direction:column;
  align-items:center;
  gap: 50px;
  margin-top: 3em;
  border-top: 2px black solid;
  /* justify-content: space-around; */
}

form {
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 50%;
  
}

#detalle {
  width: 50%;
}

#detalle h2 {
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  font-weight: lighter;
  text-align: center;
  letter-spacing: 2px;
}

#detalle h3 {
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  font-weight: lighter;
  text-align: center;
  letter-spacing: 2px;
}

.formulario {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  font-weight: lighter;
}

.formulario h2{
  margin-bottom: 40px;
}

#form{
  width: 90%;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  font-weight: lighter;
  gap: 40px;
}

#form input{
  border-style: none;
  border-bottom: 1px black solid;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  padding: 0.2em;
  color: black;
}

#form #submit{
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  font-weight: lighter;
  padding: 0.4em 1em 0.4em 1em;
  cursor: pointer;
  border: 1px black solid;
  border-radius: 10px;
  text-decoration: none;
  background-color: #eee091;
  color:black;
}

#form #submit:hover {
  background-color: black;
  color:#eee091;
}


.comprar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#finForm{
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#confirmacion{
  border: 1px black solid;
  border-radius: 10px;
  padding: 2em;
  margin: 50px;
}
